$laptop-max-width: 1920px;
$laptop-mid-width: 1280px;
$laptop-min-width: 1200px;

$tab-max-width: 1199px;
$tab-mid-width: 1023px;
$tab-min-width: 768px;

$mobile-max-width: 767px;
$mobile-mid-width: 415px;

$container-desktop-padding: 40px;
$container-laptop-padding: 40px;
$container-tab-padding: 40px;
$container-mobile-padding: 12px;

$main-font: "Pragmatica", arial, helvetica, sans-serif;
$arno-font: "ArnoPro", arial, helvetica, sans-serif;
$transition: 0.17s ease-in-out;

$c-black: #101010;
$c-white: #fff;
$c-espresso-100: #a2886f;
$c-espresso-90: #b98f76;
$c-espresso-80: #c99e84;
$c-espresso-40: #F9CEB5;
$c-midnight-80: #727270;
$c-midnight-70: #959491;
$c-midnight-60: #a7a6a2;
$c-midnight-40: #bebeb9;
$c-midnight-30: #cacac6;
$c-midnight-20: #e6e6da;
$c-midnight-15: #eeeeec;
$c-midnight-10: #f7f7f7;
$c-midnight-100: #373635;
$c-olive-100: #166c43;
$c-olive-80: #399965;
$c-olive-10: #ecf9f1;
$c-olive-15: #e1f0e8;
$c-red-10: #f9e8e7;
$c-red-100: #c51c11;
$c-red-70: #d66058;