@use "core/var";
@use "core/fonts";
@use "core/global";

$tab-max-width: 1199px;

$main-font: "Pragmatica";
$arno-font: "ArnoPro";

@mixin device($breakpoint) {
    @media only screen and (max-width: $tab-max-width) {
        @content;
    }
}

@mixin grid-column-24 {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 24px;

    @include device(tablet) {
        display: flex;
        gap: 41px;
    }
}

.mask {
    overflow: hidden;
}

@mixin font-clamp($min, $max) {
    font-size: clamp($min, calc(1.8rem + 1.1111vw - 13.3333px), $max);
}

.premium {
    position: relative;
    z-index: 2;

    font-family: $arno-font;
    font-size: 2rem;
    font-weight: 400;
    background-color: rgba(245, 242, 240, 1);
    font-feature-settings: "ss03" 1;

    overflow-x: hidden;

    &__subtitle {
        font-weight: inherit;
        font-style: italic;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;

        margin: 0 0 32px;
    }

    &__title {
        font-weight: inherit;
        @include font-clamp(3.2rem, 4.8rem);
        line-height: 90%;
        letter-spacing: 5%;
        text-align: center;
        font-variant: small-caps;
        text-transform: lowercase;
        font-feature-settings: "ss03" 1;

        text-wrap: balance;
    }

    &__button {
        width: 100%;
        padding: 11px 24px;
        background: rgba(44, 44, 44, 1);
        text-transform: lowercase;
        color: white;
        border: none;
        cursor: pointer;

        font-family: $arno-font;
        font-size: 20px;
        line-height: 90%;
        letter-spacing: 5%;
        font-variant: small-caps;

        transition: 0.2s;

        &:hover {
            background: rgba(245, 242, 240, 1);
            color: rgba(44, 44, 44, 1);
        }
    }

    img {
        pointer-events: none;
    }
}

.premium__hero {
    background-color: black;
    overflow-x: hidden;
    margin-top: -48px;

    .video-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;

        @include device(tablet) {
            canvas {
                transform: scale(1.35);
            }
        }
    }

    @include device(tablet) {
        br {
            display: none;
        }
    }

    .avatars {
        position: absolute;
        top: 80px;
        left: 24px;
        z-index: 2;

        display: flex;
        gap: 8px;

        opacity: 0;

        @include device(tablet) {
            display: none;
        }

        &__people {
            width: 80px;
            height: 80px;

            opacity: 50%;
            transition: opacity .3s;

            &.active {
                opacity: 100%;
            }
        }
    }

    .description__step {
        position: relative;
        font-family: $arno-font;
        font-style: italic;
        font-size: 20px;
        line-height: 20px;

        overflow: hidden;
    }

    .text-content {
        font-family: $main-font;
        font-weight: 400;
        font-size: 2.6rem;
        line-height: 110%;
        letter-spacing: 0%;
        font-variant-numeric: lining-nums proportional-nums;

        @include device(tablet) {
            font-size: 1.8rem;
        }
    }

    .uv-protection,
    .history {
        position: absolute;
        top: 72px;
        left: 24px;
        z-index: 2;

        display: flex;
        flex-direction: column;
        gap: 32px;

        width: 608px;
        padding: 24px 45px 32px 24px;
        background: rgba(245, 242, 240, .15);
        border-radius: 18px;
        color: white;

        opacity: 0;

        @include device(tablet) {
            width: auto;
            top: 16px;
            left: 16px;
            right: 16px;
        }
    }

    .main-content {
        position: absolute;
        inset: 0;
        color: white;
        z-index: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        font-family: $arno-font;
        font-feature-settings: "ss03" 1;
        text-align: center;

        &__subtitle {
            font-weight: 400;
            font-style: italic;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: center;
        }

        &__title {
            font-weight: 400;
            font-size: 4.8rem;
            line-height: 90%;
            letter-spacing: 0.2rem;
            text-align: center;
            font-variant: all-small-caps;

            padding-top: 24px;

            @include device(tablet) {
                font-size: 3.2rem;

                br {
                    display: none;
                }
            }
        }

        &__reward {
            position: absolute;
            bottom: 80px;

            display: grid;
            gap: 16px;

            width: 482px;
            padding: 16px 26px 24px;
            border-left: 1px solid rgba(245, 242, 240, 1);
            border-right: 1px solid rgba(245, 242, 240, 1);
            border-radius: 100px;

            @include device(tablet) {
                width: auto;
                bottom: 48px;
            }

            .reward {
                font-weight: 400;
                font-size: 2rem;
                line-height: 20px;
                letter-spacing: 5%;
                text-align: center;
                font-variant: all-small-caps;
                color: rgba(169, 98, 50, 1);
                text-transform: lowercase;

                @include device(tablet) {
                    font-size: 1.6rem;
                }
            }

            .reward-text {
                font-weight: 400;
                font-size: 2rem;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: center;


                @include device(tablet) {
                    font-size: 1.6rem;
                }
            }
        }

        // scroll animation
        @-webkit-keyframes scroll-inner {
            from {
                margin-top: 15%;
            }

            to {
                margin-top: 50%;
            }
        }

        @keyframes scroll-inner {
            from {
                margin-top: 15%;
            }

            to {
                margin-top: 50%;
            }
        }

        @-webkit-keyframes scroll-mouse {
            from {
                margin-top: 0;
            }

            to {
                margin-top: 15px;
            }
        }

        @keyframes scroll-mouse {
            from {
                margin-top: 0;
            }

            to {
                margin-top: 15px;
            }
        }

        .mouse-container {
            position: absolute;
            top: 110px;

            &--last {
                top: unset;
                bottom: 160px;
                opacity: 0;
            }
        }

        .mouse {
            position: relative;
            margin: 0 auto;
            display: block;
            width: 30px;
            height: 50px;
            border: solid 2px #fff;
            border-radius: 25px;
            -webkit-animation: scroll-mouse 1.5s;
            animation: scroll-mouse 1.5s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

            .scroll-down {
                display: block;
                width: 6px;
                height: 6px;
                background: #fff;
                border-radius: 50%;
                margin: 15% auto auto auto;

                -webkit-animation: scroll-inner 1.5s;
                animation: scroll-inner 1.5s;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-timing-function: ease;
                animation-timing-function: ease
            }
        }

        // scroll animation end6
    }

    .description {
        position: absolute;
        bottom: 24px;
        right: 24px;
        z-index: 2;

        display: flex;
        flex-direction: column;
        gap: 32px;

        width: 608px;
        height: 365px;
        padding: 24px;
        background: rgba(245, 242, 240, .15);
        border-radius: 18px;
        color: white;

        opacity: 0;

        @include device(tablet) {
            left: 16px;
            bottom: 16px;
            right: 16px;

            gap: 12px;

            width: auto;
            height: 219px;
            padding: 16px;
            background: rgba(245, 242, 240, 0.2);
            backdrop-filter: blur(20px)
        }

        .description__text {
            font-family: Pragmatica;
            font-weight: 400;
            font-size: 4.8rem;
            line-height: 90%;

            text-wrap: balance;

            @include device(tablet) {
                font-size: 3.2rem;
            }
        }

        .description__link {
            font-family: $arno-font;
            font-weight: 400;
            @include font-clamp(1.6rem, 2rem);
            line-height: 90%;
            letter-spacing: 5%;
            font-variant: small-caps;
            text-transform: lowercase;

            width: max-content;
            margin-top: auto;
            padding: 12px 20px;
            border-radius: 10px;
            border: none;
            background: rgba(255, 255, 255, 0.1);
            color: white;
            cursor: pointer;

            transition: .2s;

            @include device(tablet) {
                width: 100%;
                text-align: center;
            }

            &:hover {
                background: rgba(245, 242, 240, 1);
                color: rgba(44, 44, 44, 1);
            }
        }
    }

    span {
        display: block;
    }

    .description__step-numbers {
        position: relative;
        top: 0;
        display: inline-grid;
        height: 20px;
    }
}

.premium__longlive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    @include device(tablet) {
        height: auto;
        padding: 40px 16px 120px;
    }

    .premium__subtitle {
        @include device(tablet) {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }

    .premium__title {
        font-size: 4.8rem;
        margin-top: 0;
        max-width: 1184px;
        margin-inline: auto;

        @include device(tablet) {
            font-size: 3.2rem;
            margin-bottom: 72px;
        }
    }

    .longlive {
        &__center {
            @include grid-column-24();
            align-items: center;

            @include device(mobile) {
                display: block;
            }
        }

        &__card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 24px 46px;
            border-radius: 20px;
            aspect-ratio: 1;

            .top {
                font-family: $arno-font;
                font-weight: 400;
                font-size: 28px;
                line-height: 24px;
                letter-spacing: 5%;
                text-align: center;
                font-variant: small-caps;
                text-transform: lowercase;

                @include device(tablet) {
                    font-size: 16px;
                }
            }

            .bottom {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                font-family: $main-font;
                font-weight: 400;
                font-size: 200px;
                line-height: 90%;
                letter-spacing: -2%;
                text-align: center;
                font-variant-numeric: lining-nums proportional-nums;
                text-transform: uppercase;

                @media only screen and (max-width: 1700px) {
                    font-size: 140px;
                }

                @include device(tablet) {
                    font-size: 70px;
                }
            }
        }

        &__reward {
            display: grid;
            gap: 16px;

            height: auto;
            padding: 16px 55px 24px;
            border-left: 1px solid rgba(44, 44, 44, 1);
            border-right: 1px solid rgba(44, 44, 44, 1);
            border-radius: 100px;

            @include device(tablet) {
                max-width: 529px;
                margin-inline: auto;
                padding: 16px 0 20px;
                gap: 12px;
            }

            &:first-child {
                grid-column: 2 / 9;
            }

            &:last-child {
                grid-column: 17 / 24;
            }

            .reward {
                font-weight: 400;
                font-size: 2rem;
                line-height: 20px;
                letter-spacing: 5%;
                text-align: center;
                font-variant: all-small-caps;
                color: rgba(169, 98, 50, 1);
                text-transform: lowercase;

                @include device(tablet) {
                    font-size: 1.6rem;
                }
            }

            .reward-text {
                font-weight: 400;
                font-size: 2rem;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: center;

                @media screen and (max-width: 1700px) {
                    text-wrap: balance;

                    br {
                        display: none;
                    }
                }

                @include device(tablet) {
                    font-size: 1.6rem;
                }
            }
        }

        &__info {
            padding-top: 80px;
            max-width: 414px;
            margin-inline: auto;
            text-align: center;

            font-family: $arno-font;
            font-weight: 400;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 0.1rem;
            text-align: center;
            font-variant: small-caps;
            text-transform: lowercase;

            .icons {
                margin-inline: auto;
                margin-block: 16px 32px;
            }
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.2rem;
            color: rgba(169, 98, 50, 1);
            transition: color 0.2s;

            @include device(tablet) {
                font-size: 1.6rem;
                color: rgba(44, 44, 44, 1);
            }

            &:hover {
                color: rgba(169, 98, 50, .8);
            }

            svg {
                display: none;

                @include device(tablet) {
                    display: block;
                    width: 1.6rem;
                    height: 1.6rem;
                }
            }
        }
    }

    .block-container {
        aspect-ratio: 1;
        border-radius: 1.8rem;
        position: relative;
        overflow: hidden;
        grid-column: 10 / 16;
        border-radius: 2rem;

        @include device(tablet) {
            max-width: 246px;
            margin-inline: auto;
            margin-block: 32px;
        }
    }

    .block {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #eee;
        font-size: 3em;
        color: #333;

        img {
            width: 100%;
            border-radius: 2.2rem;
        }
    }
}

.premium__bottle-cap {
    position: relative;

    .bottle-cap-description {
        position: absolute;
        top: 2.4rem;
        left: 2.4rem;
        z-index: 2;

        display: flex;
        flex-direction: column;
        gap: 32px;

        width: 608px;
        padding: 24px 45px 32px 24px;
        background: rgba(245, 242, 240, .15);
        border-radius: 18px;
        color: white;

        @include device(tablet) {
            width: auto;
            top: 16px;
            left: 16px;
            right: 16px;
        }
    }

    video {
        width: 100%;
    }
}

// === new
$brown: rgba(169, 98, 50, 1);
$white: #fff;

p {
    margin: 0;
}

@mixin text-style($size) {
    @if $size ==64 {
        font-family: 'ArnoPro';
        font-weight: 400;
        font-size: 6.4rem;
        line-height: 1;
        letter-spacing: 0%;

        @include device(tablet) {
            font-size: 4rem;
        }
    }

    @else if $size ==26 {
        font-family: 'Pragmatica';
        font-weight: 400;
        font-size: 2.6rem;
        line-height: 110%;
        letter-spacing: 0;
        font-variant: lining-nums proportional-nums;

        @include device(tablet) {
            font-size: 1.8rem;
        }
    }

    @else if $size ==20 {
        font-family: 'ArnoPro';
        font-weight: 400;
        font-size: 2rem;
        line-height: 90%;
        letter-spacing: 5%;
        font-variant: all-small-caps;
        text-transform: lowercase;

        @include device(tablet) {
            font-size: 1.6rem;
        }
    }

    @else if $size ==20-i {
        font-family: 'ArnoPro';
        font-weight: 400;
        font-style: italic;
        font-size: 2rem;
        line-height: 100%;
        letter-spacing: 0;

        @include device(tablet) {
            font-size: 1.6rem;
        }
    }
}

.text-line-mask {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    line-height: inherit;
    overflow: hidden;

    &.left {
        justify-content: flex-start;
    }
}


.oil-facts-section {
    height: 100vh;
    height: 100vh;
    padding: 7.2rem 2.4rem 2.4rem;

    @include device(tablet) {
        padding: 5.6rem 1.6rem 1.6rem;
    }

    .subtitle {
        @include text-style(20-i);

        text-align: center;
    }

    .title {
        @include text-style(64);

        margin-inline: auto;
        text-align: center;
        text-wrap: balance;
    }

    .oil-facts {
        position: relative;

        display: flex;
        flex-direction: column;

        height: 100%;
        padding: 2.4rem;
        border-radius: 1.8rem;
        background-color: $white;

        @include device(tablet) {
            padding: 1.6rem;
        }

        .top {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1.2rem;

            @include device(tablet) {
                flex-direction: column;
                height: 100%;
            }

            .type-list {
                .type-list-item {
                    @include text-style(20);

                    &.active {
                        color: $brown;
                    }
                }

                @include device(tablet) {
                    width: 50%;
                }
            }

            .text {
                @include text-style(26);

                max-width: 45rem;
            }
        }

        .center {
            position: absolute;
            inset: 0;
            margin: auto;
            height: max-content;
            overflow: hidden;

            .title {
                padding-top: 2.4rem;
            }
        }

        .img-block {
            position: relative;
            width: 21.3rem;
            aspect-ratio: 1;
            margin-top: auto;
            border-radius: 1rem;
            overflow: hidden;

            @include device(tablet) {
                position: absolute;
                top: 1.6rem;
                right: 1.6rem;
                width: 10.1rem;
            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 16px;
                pointer-events: none;
                opacity: 1;
                clip-path: inset(100% 0 0 0);
                transition: clip-path 0.7s cubic-bezier(.7, .4, .15, 1);
                z-index: 1;
            }
        }
    }
}

.premium__quality {
    padding-top: 200px;
    padding-inline: 24px;

    @include device(tablet) {
        padding-top: 120px;
        padding-inline: 16px;
    }

    .premium__title {
        max-width: 1184px;
        margin: 0 auto;
    }

    .quality__images {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        row-gap: 64px;
        column-gap: 24px;

        padding-block: 120px 200px;

        @include device(tablet) {
            grid-template-columns: repeat(8, 1fr);
            row-gap: 64px;
            column-gap: 0;

            padding-block: 72px 259px;
        }

        .quality__content {
            position: relative;

            font-family: $arno-font;
            font-weight: 400;
            @include font-clamp(1.6rem, 2rem);
            line-height: 90%;
            letter-spacing: 5%;
            text-align: center;
            font-variant: small-caps;
            text-transform: lowercase;

            font-variant-numeric: oldstyle-nums proportional-nums;

            span {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);

                font-style: italic;
                font-feature-settings: "ss03" 1;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;

                display: block;
                padding-top: 4px;
                text-transform: none;
                text-wrap: nowrap;

                font-variant: contextual;

                @include device(tablet) {
                    position: unset;
                    left: unset;
                    transform: unset;
                    text-wrap: unset;
                }
            }

            .quality__video {
                width: 100%;
                border-radius: 18px;
                margin-bottom: 24px;
            }

            &:nth-child(1) {
                grid-column: 4 / span 6;

                @include device(tablet) {
                    grid-column: 1 / span 4;
                }
            }

            &:nth-child(2) {
                margin-top: 290px;
                grid-column: 13 / -1;

                @include device(tablet) {
                    grid-column: 3 / span 7;
                    margin-top: 0;
                    grid-row: 2;
                }
            }

            &:nth-child(3) {
                grid-column: 2 / span 5;


                @include device(tablet) {
                    grid-column: 1 / span 4;
                    grid-row: 3;
                }
            }

            &:nth-child(4) {
                grid-column: 9 / span 8;
                grid-row: 3;

                @include device(tablet) {
                    grid-column: 2 / span 6;
                    grid-row: 4;
                }
            }

            &:nth-child(5) {
                grid-column: 19 / span 5;
                grid-row: 4;

                @include device(tablet) {
                    grid-column: 3 / span 4;
                    grid-row: 5;
                }
            }

            &:nth-child(6) {
                grid-column: 1 / span 12;
                grid-row: 5;


                @include device(tablet) {
                    grid-column: 1 / -1;
                }
            }
        }

        .chief-text {
            position: relative;
            grid-column: 14 / -1;
            grid-row: 6;

            padding-top: 160px;
            @include font-clamp(2.4rem, 3.2rem);
            line-height: 90%;
            letter-spacing: 0%;

            @include device(tablet) {
                padding-top: 56px;
                grid-column: 2 / -1;
            }

            &__subtitle {
                display: block;

                padding-bottom: 24px;
                font-style: italic;
                @include font-clamp(1.6rem, 2rem);
                line-height: 100%;


                @include device(tablet) {
                    padding-top: 16px;
                }
            }

            .sign {
                position: absolute;
                bottom: -130px;
                right: 68px;
                z-index: 1;

                @include device(tablet) {
                    width: 125px;
                    right: 30px;
                }
            }
        }
    }
}

.premium__legend {
    padding-inline: 24px;

    @include device(tablet) {
        padding-inline: 16px;
    }

    .premium__title {
        text-align: left;
        margin-bottom: 32px;
    }

    .premium__list {
        display: flex;
        padding-top: 64px;
        border-top: 1px solid rgba(0, 0, 0, 1);

        @include device(tablet) {
            flex-direction: column;
            padding-top: 0;
        }

        .list-card {
            display: flex;
            flex-direction: column;
            gap: 8px;
            flex: 1;
            padding-inline: 24px;

            cursor: pointer;

            @include device(tablet) {
                gap: 16px;
                padding: 16px 0;
            }

            &:hover {
                .premium__button {
                    opacity: 1;
                }
            }

            &__description {
                @include device(tablet) {
                    order: 3;
                }
            }

            &__image {
                max-width: 500px;
                width: 100%;
                margin-inline: auto;
            }

            .premium__button {
                opacity: 0;
                transition: opacity .1s;

                @include device(tablet) {
                    display: none;
                }
            }

            &:nth-child(2) {
                border-right: 1px solid rgba(0, 0, 0, 1);
                border-left: 1px solid rgba(0, 0, 0, 1);

                @include device(tablet) {
                    border: none;
                    border-top: 1px solid rgba(0, 0, 0, 1);
                    border-bottom: 1px solid rgba(0, 0, 0, 1);
                }
            }
        }
    }
}

.premium__video {
    .video {
        height: 100vh;
        margin-top: 200px;
        object-fit: cover;
        width: 100%;

        @include device(tablet) {
            margin-top: 0;
        }
    }
}


@mixin grid-column-mobile {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0;
}

.premium__advantages {
    padding-top: 200px;

    @include device(tablet) {
        padding-top: 120px;
    }

    >.premium__title {
        max-width: 881px;
        margin: 0 auto;
        padding-inline: 24px;
    }

    .advantages__header {
        display: flex;
        gap: 32px;

        padding-block: 32px;
        margin-inline: 24px;
        cursor: pointer;

        border-bottom: 1px solid rgba(0, 0, 0, 1);

        .active {
            color: #A96232;

            @include device(tablet) {
                color: unset;
            }
        }

        @include device(tablet) {
            &.d-desktop-none {
                padding-top: 72px;
            }
        }
    }

    .advantages__wrapper {
        @include grid-column-24();
        padding: 64px 24px 200px;

        @include device(tablet) {
            @include grid-column-mobile();
            padding: 64px 16px 120px;
        }

        .advantages__image {
            grid-column: 10 / span 6;
            width: 100%;
            border-radius: 18px;

            background-color: grey;

            @include device(tablet) {
                grid-column: 3 / span 4;
                border-radius: 10px;
            }
        }
    }

    .advantages__list {
        position: relative;

        display: grid;
        gap: 24px;

        max-height: 367px;
        padding-bottom: 64px;
        margin-inline: 24px;

        overflow: hidden;

        transition: max-height .3s ease;

        @include device(tablet) {
            overflow-x: scroll;
            overflow-y: hidden;
            margin-right: 0;

            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        &.active {
            max-height: 2000px;

            &::after,
            &::before {
                display: none;
            }
        }

        &.hide {
            display: none;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 82px;

            min-width: 620px;
            width: 100%;
            height: 64px;
            background: linear-gradient(180deg, rgba(245, 242, 240, 0) 0%,
                    rgba(245, 242, 240, 1));

        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;

            min-width: 620px;
            width: 100%;
            height: 82px;
            background-color: rgba(245, 242, 240, 1);
        }

        .list-header {
            @include grid-column-24();
            padding-block: 24px;
            @include font-clamp(1.6rem, 2rem);
            line-height: 90%;
            letter-spacing: 5%;
            font-variant: small-caps;

            text-transform: lowercase;
            text-wrap: balance;
            color: rgba(44, 44, 44, 0.5);
        }

        .list-cell {
            @include grid-column-24();

            @include font-clamp(1.6rem, 2rem);
            line-height: 120%;

            min-width: 615px;

            &__title {
                font-family: $main-font;
                font-weight: 400;
                @include font-clamp(1.8rem, 2.6rem);
                line-height: 110%;
                letter-spacing: 0%;
                font-variant-numeric: lining-nums proportional-nums;
                text-wrap: balance;
            }
        }

        span {
            flex: 1;

            &:nth-child(1) {
                grid-column: 1 / span 12;
            }

            &:nth-child(2) {
                grid-column: 13 / span 5;
            }

            &:nth-child(3) {
                grid-column: 19 / span 5;
            }
        }
    }

    .d-xs-none {
        @include device(tablet) {
            display: none;
        }
    }

    .d-desktop-none {
        display: none;

        @include device(tablet) {
            display: block;
        }
    }
}

.premium__recipes {
    padding-block: 200px 32px;

    @include device(tablet) {
        padding-block: 120px 24px;
    }

    .premium__head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        padding-inline: 24px;

        @include device(tablet) {
            align-items: center;
            padding-inline: 16px;
        }

        .premium__title {
            text-align: left;
            margin: 0;
        }

        .premium__all-recipes {
            display: flex;
            align-items: center;
            gap: 16px;

            font-weight: 400;
            font-size: 20px;
            line-height: 90%;
            letter-spacing: 5%;
            text-align: right;
            font-variant: small-caps;
            text-transform: lowercase;

            svg {
                width: 24px;
                height: 24px;

                @include device(tablet) {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    .recipes__slider {
        padding-top: 32px;

        @include device(tablet) {
            padding-top: 16px;
            padding-bottom: 24px;
        }

        .swiper-scrollbar {
            margin-top: 20px;
            padding-inline: 12px;
            height: 1px;
            background: #ccc;
            display: none;

            @include device(tablet) {
                display: block;
            }
        }

        .swiper-scrollbar-drag {
            background: #333;
        }
    }

    .recipes__slide {
        display: flex;
        flex-direction: column;
        gap: 32px;

        width: 687px;
        height: 800px;
        padding: 24px 24px 32px;
        background-color: white;
        border-radius: 18px;

        @include device(tablet) {
            width: auto;
            height: 400px;
            gap: 24px;
            padding: 16px;
        }

        .slide-image {
            aspect-ratio: 639 / 400;
            border-radius: 8px;
            background-color: grey;

            @include device(tablet) {
                aspect-ratio: unset;
                width: 100%;
                height: 190px;
            }
        }

        .slide-title {
            font-family: $main-font;
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 90%;
            letter-spacing: 0%;
            color: rgba(44, 44, 44, 1);

            @include device(tablet) {
                font-size: 3.2rem;
            }
        }

        .slide-info {
            display: flex;
            gap: 16px;

            font-family: $arno-font;
            font-style: italic;
            @include font-clamp(1.6rem, 2rem);
            line-height: 20px;
            letter-spacing: 0%;

            margin-top: auto;

            @include device(tablet) {
                gap: 12px;
            }

            span:nth-child(2) {
                padding-inline: 16px;
                border-right: 1px solid #cccccc;
                border-left: 1px solid #cccccc;

                @include device(tablet) {
                    padding-inline: 12px;
                }
            }
        }
    }
}