@use "mixins";

@include mixins.font-face(Pragmatica, "../kolektivaPage/core/fonts/Pragmatica-Book", 400);
@include mixins.font-face(Pragmatica, "../kolektivaPage/core/fonts/Pragmatica-Medium", 500);
@include mixins.font-face(Pragmatica, "../kolektivaPage/core/fonts/Pragmatica-Bold", 700);
@include mixins.font-face(ArnoPro, "../kolektivaPage/core/fonts/ArnoPro-Regular");
@include mixins.font-face(ArnoPro, "../kolektivaPage/core/fonts/ArnoPro-Bold", 700);