@use "core/var";
@use "core/fonts";
@use "core/global";

$tab-max-width: 1199px;

$main-font: "Pragmatica";
$arno-font: "ArnoPro";

// kolektivia vars
$border-radius-10: 1rem;
$border-radius-12: 1.2rem;
$border-radius-18: 1.8rem;

$white: #F5F2F0;
$white-200: #E6E1DF;
$brown: #A96232;
$dark: #2C2C2C;
// ======

p,
h2 {
    margin: 0;
}

button {
    border: none;
}

img {
    width: 100%;
}

body {
    background-color: $white;
}

@mixin device($breakpoint) {
    @media only screen and (max-width: $tab-max-width) {
        @content;
    }
}

@mixin grid-column-24 {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 24px;

    @include device(tablet) {
        display: flex;
        gap: 41px;
    }
}

@mixin text-style($size) {
    @if $size ==64 {
        font-family: $arno-font;
        font-weight: 400;
        font-style: Subhead;
        font-size: clamp(4rem, 3.4vw, 6.4rem);
        leading-trim: NONE;
        line-height: 80%;
        letter-spacing: 0%;
        text-align: center;

    }

    @else if $size ==48 {
        font-family: $arno-font;
        font-weight: 400;
        font-style: Regular;
        font-size: clamp(4rem, 3.4vw, 4.8rem);
        leading-trim: NONE;
        line-height: 80%;
        letter-spacing: 5%;
        text-align: center;
        font-variant: all-small-caps;
        text-transform: uppercase;
    }

    @else if $size ==32 {
        font-family: $arno-font;
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 90%;
        letter-spacing: 0%;
        font-variant: all-small-caps;

        @include device(tablet) {
            font-size: 1.8rem;
        }
    }

    @else if $size ==32-n-caps {
        font-family: $arno-font;
        font-weight: 400;
        font-style: Regular;
        font-size: clamp(2.4rem, 1.9vw, 3.2rem);
        leading-trim: NONE;
        line-height: 90%;
        letter-spacing: 0%;

    }

    @else if $size ==26 {
        font-family: $main-font;
        font-weight: 400;
        font-size: clamp(1.8rem, 1.5vw, 2.6rem);
        line-height: 110%;
        letter-spacing: 0;
        font-variant: lining-nums proportional-nums;

        @include device(tablet) {
            font-size: 1.8rem;
        }
    }

    @else if $size ==24 {
        font-family: $arno-font;
        font-weight: 400;
        font-style: Regular;
        font-size: 2.4rem;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 5%;
        text-align: center;
        font-variant: all-small-caps;
        font-variant-numeric-figure: oldstyle-nums;
        font-variant-numeric-spacing: proportional-nums;
        text-transform: uppercase;

    }

    @else if $size ==20 {
        font-family: $arno-font;
        font-weight: 400;
        font-size: clamp(1.6rem, 1vw, 2rem);
        line-height: 90%;
        letter-spacing: 5%;
        font-variant: all-small-caps;
        text-transform: lowercase;

        @include device(tablet) {
            font-size: 1.6rem;
        }
    }

    @else if $size ==20-n-caps {
        font-family: $arno-font;
        font-weight: 400;
        font-size: clamp(1.6rem, 1vw, 2rem);
        line-height: 100%;
        letter-spacing: 0%;


        @include device(tablet) {
            font-size: 1.6rem;
        }
    }

    @else if $size ==20-i {
        font-family: $arno-font;
        font-weight: 400;
        font-style: italic;
        font-size: 2rem;
        line-height: 100%;
        letter-spacing: 0;

        @include device(tablet) {
            font-size: 1.6rem;
        }
    }

    @else if $size ==20-prag {
        font-family: $main-font;
        font-weight: 400;
        font-style: Book;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 90%;
        letter-spacing: 0%;

    }
}


.fixed-bottle {
    position: fixed;
    right: 2.4rem;
    bottom: 2.4rem;
    z-index: 3;
    display: grid;
    gap: 4rem;
    border-radius: $border-radius-12;
    background-color: $white;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #DBD6D5;
    cursor: pointer;

    .bottle-tag {
        @include text-style(24);
        color: $brown;
        text-transform: uppercase;

        position: absolute;
        top: 2.4rem;
        left: 2.4rem;
        display: block;
        padding: 0.8rem;
        border-radius: $border-radius-10;
        border: 1px solid $brown;
    }

    .bottle-image {
        width: 32.3rem;
        padding: 4rem 2.4rem 0;
        box-sizing: content-box;
    }

    .bottle-volume {
        margin-inline: auto;

        .volume-title {
            @include text-style(24);
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 1.6rem;
        }

        .volume {
            @include text-style(20);
            display: flex;
            gap: .8rem;

            .volume__item {
                padding: .8rem 1.6rem;
                border-radius: $border-radius-10;
                transition: .2s;

                &.active {
                    background-color: $white-200;
                }
            }
        }
    }

    .bottle-button {
        @include text-style(20);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-block: 2.3rem;
        color: $white;
        background-color: $dark;
        border-bottom-right-radius: $border-radius-12;
        border-bottom-left-radius: $border-radius-12;
        text-transform: uppercase;
        transition: .2s;
        cursor: pointer;

        &:hover {
            background-color: $brown;
        }

        &__dot {
            display: block;
        }
    }
}

.hero {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 2.4rem;
    min-height: 100dvh;
    height: 100%;
    background: url('assets/images/hero/hero.webp') center center no-repeat;
    background-size: cover;
}

@mixin grid-column-24 {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 2.4rem;
}

.grid {
    @include grid-column-24;
}

.section {
    &-space {
        padding-block: 20rem;
    }

    &-title {
        @include text-style(48);

        &--left {
            text-align: left;
        }
    }

    &-image {
        grid-column: 1/13;
    }

    &-slider {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &-slider-navigation {
        @include text-style(20-prag);
        display: flex;
        align-items: center;
        gap: 1.6rem;
        user-select: none;

        .prev,
        .next {
            cursor: pointer;
        }

        .swiper-button-disabled {
            path {
                stroke: rgb(142, 142, 142);
            }
        }
    }
}

.kolektiva {
    padding: 0 2.4rem 20rem;

    &__texts {
        grid-column: 19/25;

        .main-text {
            @include text-style(26);
        }

        .flower-icon {
            margin-top: 6.4rem;
        }

        .description {
            margin-top: 2.4rem;
            @include text-style(20-n-caps)
        }
    }
}

.local {
    padding-inline: 2.4rem;
    padding-bottom: 23.7rem;

    &__title {
        padding-bottom: 3.2rem;
    }

    &__texts {
        position: relative;
        grid-column: 1/13;
        padding-top: 3.2rem;
        border-top: 1px solid $dark;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.4rem;

        .text-caption {
            @include text-style(20);
        }

        .text-description {
            @include text-style(26);
        }

        .text-center {
            @include text-style(64);
            position: absolute;
            inset: 0;
            display: grid;
            place-items: center;
        }
    }

    &__image {
        grid-column: 13/25;
    }
}

.age {
    padding-inline: 2.4rem;

    .swiper-slide {
        width: 90rem;
    }

    &-slider {
        margin-inline: -2.4rem !important;
    }

    &-slide {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: $border-radius-18;
        background-color: #fff;

        &__content {
            padding: 3.2rem;

            .content__icon {
                display: block;
                margin-inline: auto;
            }

            .content__title {
                @include text-style(32);
                text-align: center;
                padding-block: 10.9rem 8.8rem;
            }

            .content__subtitle {
                @include text-style(24);
            }

            .content__description {
                @include text-style(20-n-caps);
            }
        }
    }
}

// bottle section
.bottle {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40.5rem;
    overflow-x: clip;

    &__image {
        width: 68.5rem;
    }

    .vitamins__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__vitamins {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        display: grid;
        place-items: center;
        box-shadow: 0px 0px 10px 0px #DBD6D5;
        background-color: white;
        @include text-style(24);

        &--xs {
            width: 13.4rem;
            height: 13.4rem;
            border-radius: 4rem;
        }

        &--sm {
            width: 17.8rem;
            height: 17.8rem;
            border-radius: 5.6rem;
        }

        &--md {
            width: 21.3rem;
            height: 21.3rem;
            border-radius: 6.4rem;
        }

        &--lg {
            width: 29.2rem;
            height: 29.2rem;
            border-radius: 8rem;
            @include text-style(32);
        }

        &--xl {
            width: 37.1rem;
            height: 37.1rem;
            border-radius: 11.2rem;
            @include text-style(32);
        }

        &--xxl {
            width: 45rem;
            height: 45rem;
            border-radius: 13.6rem;
            @include text-style(32);
        }
    }
}

.oil-create {
    padding-inline: 2.4rem;
    padding-bottom: 20rem;

    &__title {
        padding-bottom: 3.2rem;
    }

    &__texts {
        grid-column: 1/11;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 2.4rem;
        padding-top: 3.2rem;
        border-top: 1px solid $dark;

        .texts__list {
            @include text-style(20);
            grid-column: 1/5;

            .active {
                color: $brown;
            }
        }

        .texts__description {
            @include text-style(32-n-caps);
            grid-column: 5/11;
        }
    }

    &__images {
        grid-column: 11/13;
        display: grid;
        grid-auto-rows: max-content;
        gap: .8rem;
    }
}

.family-history {
    padding-inline: 2.4rem;
    margin-bottom: 20rem;

    .swiper-slide {
        width: 105.8rem;
    }

    &-slider {
        margin-inline: -2.4rem !important;
    }

    .family-history-slide {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #fff;
        border-radius: $border-radius-18;
        overflow: hidden;

        &:hover {
            .video-controls {
                opacity: 1;
            }
        }

        .family-history__content {
            position: relative;
            display: grid;
            place-items: center;
            cursor: pointer;

            .content__title {
                @include text-style(32);
                text-align: center;
            }
        }

        .video-controls {
            position: absolute;
            bottom: 3.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .8rem;
            opacity: 0;
            transition: opacity .2s;
        }
    }
}