@use "core/var";
@use "core/fonts";
@use "core/global";

$tab-max-width: 1199px;

$main-font: "Pragmatica";
$arno-font: "ArnoPro";

@mixin device($breakpoint) {
    @media only screen and (max-width: $tab-max-width) {
        @content;
    }
}

@mixin grid-column-24 {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 24px;

    @include device(tablet) {
        display: flex;
        gap: 41px;
    }
}

@mixin text-style($size) {
    @if $size ==64 {
        font-family: 'ArnoPro';
        font-weight: 400;
        font-size: 6.4rem;
        line-height: 1;
        letter-spacing: 0%;

        @include device(tablet) {
            font-size: 4rem;
        }
    }

    @else if $size ==32 {
        font-family: 'Arno Pro';
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 90%;
        letter-spacing: 0%;

        @include device(tablet) {
            font-size: 1.8rem;
        }
    }

    @else if $size ==26 {
        font-family: 'Pragmatica';
        font-weight: 400;
        font-size: 2.6rem;
        line-height: 110%;
        letter-spacing: 0;
        font-variant: lining-nums proportional-nums;

        @include device(tablet) {
            font-size: 1.8rem;
        }
    }

    @else if $size ==20 {
        font-family: 'ArnoPro';
        font-weight: 400;
        font-size: 2rem;
        line-height: 90%;
        letter-spacing: 5%;
        font-variant: all-small-caps;
        text-transform: lowercase;

        @include device(tablet) {
            font-size: 1.6rem;
        }
    }

    @else if $size ==20-n-caps {
        font-family: 'Arno Pro';
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0%;


        @include device(tablet) {
            font-size: 1.6rem;
        }
    }

    @else if $size ==20-i {
        font-family: 'ArnoPro';
        font-weight: 400;
        font-style: italic;
        font-size: 2rem;
        line-height: 100%;
        letter-spacing: 0;

        @include device(tablet) {
            font-size: 1.6rem;
        }
    }
}